

/*! الخطوط */
/* @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap'); */

/* @font-face {
    font-family: "font_main";
    src: url("../fonts/");
}
@font-face {
    font-family: "font_bold";
    src: url("../fonts/");
}
@font-face {
    font-family: "font_extra-bold";
    src: url("../fonts/");
}
@font-face {
    font-family: "font_light";
    src: url("../fonts/");
} */



/*! الألوان الرئيسية */
:root {
    --white-color: #fff;
    --black-color: #000;
    --main-color: #3F2289;
    /* --second-color: #F78F35; */
    /* --text-color: #323232; */
    /* --main-shadow: 0 4px 10px rgb(0 0 0 / 25%); */
}



body {
    background-color: var(--white-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* ::selection {
    background-color: var(--second-color);
    color: var(--color-white);
} */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

* {
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


button:focus,
a {
    outline: none;
}

button {
    border: none;
}

*:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

/*! Globals */

.main-btn {
    background-color: var(--main-color);
    width: 130px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
}
.main-btn * {
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
}

.main-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.main-title h2.title {
    font-size: 22px;
    font-weight: 700;
}
.main-title span {
    color: #848491;
    font-size: 16px ;
}

