
@media (max-width: 991px) {
    /* .content .user-insights .row {
        gap: 50px;
    } */
    .middle-content .row-cards {
        padding-top: 40px;
    }
    .content .user-insights {
        gap: 30px;
    }
    .content .user-insights .banner {
        width: 100%;
    }
    .content .level-box::before {
        transform: rotate(2deg);
    }
    .content .level-box::after {
        transform: rotate(-2deg);
    }
    .content .level-box:hover::before {
        transform: rotate(-2deg);
    }
    .content .level-box:hover::after {
        transform: rotate(2deg);
    }
}
@media (max-width: 575px) {
    .main-btn {
        width: 100px;
        height: 30px;
    }
    .main-btn * {
        font-size: 10px;
    }
    .main-title span {
        color: #848491;
        font-size: 10px;
    }
    .main-content .topbar .user .image {
        width: 25px;
        height: 25px;
    }
    .main-content .topbar .user .image span {
        font-size: 10px;
    }
    .main-content .topbar .user .image img {
        width: 15px;
        height: 15px;
    }
    .content .user-insights .item .image {
        width: 200px;
        height: 50px;
    }
    .content .user-insights .item p {
        font-size: 10px;
    }
    .my-card .text > span {
        font-size: 14px;
    }
    .my-card .text .percent-box p {
        font-size: 25px;
    }
    .my-card .text .percent-box .percent {
        font-size: 10px;
        padding: 1px 5px;
    }
    .table-container img {
        width: 30px;
        height: 30px;
    }
    .table-container table thead th,
    .table-container table tbody td {
        font-size: 10px;
    }
    .table-container tbody p,
    .table-container tbody span {
        font-size: 12px;
    }
    .bottom-content .chart-header h3 {
        font-size: 13px;
    }
    .bottom-content .chart-header select {
        font-size: 8px;
    }
    .bottom-content .chart-header .custom-select {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
