
@media (max-width: 991px) {
    .content .top-content .row {
        gap: 50px;
    }
    .middle-content .row-cards {
        padding-top: 40px;
    }

    .content .top-content {
        gap: 50px;
    }
    .content .top-content .banner {
        width: 100%;
    }
}

